<div id="content">
    <div>
        We have a page!
    </div>
    <div>
        <ul>
            <li>Download <a href="/files/amazing.txt">amazing.txt</a></li>
            <li>Download <a href="/files/missing.txt">missing.txt</a></li>
            <li>Download <a href="/parent_folder">file from parent folder</a></li>
            <li>Attempt to download using <a href="/parent_folder_err">parent path in download</a></li>
        </ul>
    </div>
</div>
