<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/default.css" media="screen" />

        <!-- JavaScript Libraries -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/lib/jquery.tools.min.js"></script>
       
    </head>
    <body>
        <div class="container_16">
            <div id="header" >
                
            </div>
            <div class='clear'>&nbsp;</div>

            <div id="site_content">
                {{{yield}}}
            </div>
            <div id="footer" class="grid_16" style="text-align: center; font-size: 0.8em; color: #939598; margin-bottom: 10px;">Copyright &copy; Jeff Zabel.</div>
    </body>
</html>
